html, body {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  color: #404040;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 2rem 0;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
}
p {
  font-size: 1.1rem;
  line-height: 1.25;
}

.content {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  top: 4rem;
  background-color: #dcdcdc;
}

                    /*HEADER*/
header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 4rem;
  position: fixed;
  z-index: 10;
  border-bottom: 1px solid gray;
}
header .leftside {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}
header nav ul {
  display: flex;
  margin-right: 1.5rem;
}
nav li {
  padding-left: 1rem;
  color: #696969;
}
#acad {
  color: #a9a9a9;
}

  /*Start-Learning Section*/
#main {
  align-items: center;
}
.mainimage {
  display: flex;
  width: 60%;
  padding: 2rem 1.5rem;
}
.mainimage img {
  width: 100%;
  height: 75%;
}
.main .start h3 {
  margin-bottom: 3rem;
  line-height: normal;
}
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  height: auto;
}

.start span {
  text-align: center;
  margin: 1rem 7rem;
  padding: 0.5rem 4rem;
  font-size: 1.5rem;
  color: white;
  background-color: #404040;
  border-radius: 5px;
}

    /*Practicing Section*/
#practice {
  align-items: flex-start;
}
.practicing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  height: auto;
  margin: 0;
  padding: 2rem 1.5rem;
  background-color: white;
  border-right: 1px solid #dcdcdc;
}
.practicing img {
  width: 100%;
  height: auto;
}
.practicing p {
  margin-bottom: 2rem;
  padding: 0;
}

.aboutus {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  padding: 1rem 0 4rem 0;
  background-color: white;
}

.aboutus .information {
  display: flex;
  border-bottom: 4px solid #dcdcdc;
}
.information:hover {
  background-color: #dcdcdc;
}

.aboutus .information img {
  width: 35%;
  height: 35%;
  margin: 1rem;
}
.information .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.5rem;
}
.information .info p {
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}
.information .info a {
  color: #1e90ff;
  font-size: 1.1rem;
}

/*Courses Grill*/
#grill {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.courses {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}
.course {
  display: flex;
  flex-flow: column;
  width: 25%;
  height: 365px;
  margin: 0 1rem 2rem 1rem;
  background-color: white;
}
.course img {
  width: 100%;
  height: auto;
}
.course h3, p {
  padding: 0.5rem 1rem;
  line-height: 1.25;
}

/*Thesis Exhibit Section*/
.thesis {
display: flex;
flex-flow: column;
align-items: center;
width: 100%;
height: auto;
background-color: white;
}
.exhibit {
  display: flex;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}
.reimagine {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
}
.reimagine video {
  width: 100%;
  height: auto;
}
.reimagine p {
  margin-bottom: 2rem;
  padding: 0;
}
.reimagine h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.proto {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
}
.prototype {
  display: flex;
  padding: 1rem;
}
.prototype:hover {
  background-color: #dcdcdc;
}
.prototype img {
  width: 35%;
  height: 35%;
}
.prototype .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}
.prototype .info p {
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
  border-top: 1px solid gray;
  background-color: white;
}
.footer ul {
  display: flex;
}
